{% extends 'menus/base.html'%} {% block content %}
<div
  class="card max-w-80% p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-400"
>
  {% include './inventory-header.html' %}
  <div class="row">
  <section class="text-gray-600 body-font overflow-hidden">
    <div class="flex items-center justify-between px-3 py-2">
      <h1 class="text-xl font-semibold">Inventory Sales Stock Report</h1>
    </div>
      <table class="table-auto w-full border-collapse border border-gray-400 table-bordered">
        <thead>
          <tr>
            <th class="px-4 py-2  border ">Inventory Item</th>
            <th class="px-4 py-2  border ">Total Sales</th>
            <th class="px-4 py-2  border ">Remaining Stock</th>
          </tr>
        </thead>
        <tbody>
          {% for item_name, data in report_data.items %}
          <tr>
            <td class="border px-4 py-2">{{ item_name }}</td>
            <td class="border px-4 py-2">{{ data.total_sales }}</td>
            <td class="border px-4 py-2">{{ data.remaining_stock }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
  </section>
</div>

  {% endblock %}
